* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

body {
    background: url(./bg1.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.registration-form h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.registration-form p {
    font-size: 20px;
    margin: 15px 0;
}

.registration-form input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0ch;
    border-radius: 6px;
    outline: none;
    background: none;
    border: 2px solid white;
}

label {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin: 10% 0;
    font-weight: bold;
    padding: 5px 2px;
}

select {
    font-family: Arial, Helvetica, sans-serif;
    float: center;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 8px;
    padding: 8px 10px;
    width: 50px 10px;
    border: 0;
    border-radius: 5px;
    background-color: white;
}

.sb {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 15px;
    padding: 10px 15px;
    width: 45%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.rg {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 15px;
    padding: 10px 15px;
    width: 35% 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
}